# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.netlify

id : ab6dd54a-28ba-4a61-a6d0-4a07b5c47eb5
tok: 6e9ddabb51e06ea506807495ac85bd3fc56708d1ef3fbe06bec65a860a6f1164