* {
  box-sizing: border-box;
}

#addQuoteForm {
  padding: 10%;
  background-color: #bbb;
  left: 0;
  right: 0;
}

.quoteText {
  word-wrap: break-word;
}

.searchResultsAuthor {
  word-wrap: break-word;
}

.addQuoteThemes {
  width: 75%;
  max-width: 350px;
}

.addQuoteTextarea {
  height: 150px;
  width: 100%;
  max-width: 500px;
  font-size: 15px;
}

.form-section {
  padding-bottom: 5%;
}

.addTheme {
  padding-top: 3%;
}

.addQuoteIndividualButtons {
  background-color: white;
  border: solid white;
  border-radius: 3px;
  margin-right: 5%;
}

.addQuoteAuthorArea {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-input {
  margin-left: auto;
  margin-right: auto;
}

.addQuoteButtons {
  display: block;
  margin-bottom: 100px;
}

.addQuoteMessageSuccess, .addQuoteMessageError {
  text-align: center;
}

.addQuoteSubmitButton {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-color: #5F88E8;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.addQuoteSubmitButton:hover {
  background: #4062BB;
}

.addQuoteResetButton {
  margin-left: auto;
  margin-right: auto;
}

.addQuoteResetButton, .addQuoteSubmitButton {
  display: block;
}

.addQuoteResetButton {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #ff7aa4;
  margin-top: 10px;
  font-size: 12px;
}

.addQuoteResetButton:hover {
  color: red;
}

.addQuoteResetButton:focus {
  outline: 0;
}

.addQuoteTextArea, .addQuoteNonRequiredSection {
  display: inline-block;
}

.inputForCheck {
/*  margin-right: auto !important;
  margin-left: auto !important;*/
}

.addQuoteNonRequiredSection {
  width: 320px;
  margin-left: 50px;
  height: 360px;
}

.addQuoteThemeLabel {
}

.addQuoteForm {
  margin-top: 50px;
  margin-bottom: 50px;
}

.addQuoteNonRequiredSection {
  overflow-y: hidden; 
  overflow-x: hidden;
}

.themeList {
  width: 320px;
  margin-bottom: 50px;
}

.addQuoteFormContainer {
  margin-left: 100px;
  margin-right: 100px;
}

.addQuoteThemeArea {
  width: 320px;
  display: block;
}

.addQuoteTextArea {
  width: 500px;
  height: 350px;
  margin-left: 25px;
  resize: none;
  font-size: 20px;
  border-radius: 2px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .quoteText {
    word-wrap: break-word;
  }

  .addFormContainer {
    margin-left: 0px;
  }

  .addQuoteTextArea {
    width: 340px;
  }

  .addQuoteFormContainer {
    margin-left: 0px;
    margin-right: 0px;
  }

  h2 {
    font-size: 20px !important;
  }

  h3 {
    font-size: 15px !important;
  }

  .searchResultsAuthor {
    padding-top: 20px !important;
    word-wrap: break-word;
  }

}

@media screen and (max-width: 376px) {
  .addFormContainer {
    margin-left: 0px;
  }

  .addQuoteTextArea {
    width: 340px;
  }

  .addQuoteFormContainer {
    margin-left: 0px;
    margin-right: 0px;
  }

  .addQuoteForm {
    margin-bottom: 0px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .searchResultsAuthor {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1094px) {
  .themeList {
    margin-right: auto;
    margin-left: auto;
  }

  .addQuoteTextArea {
    margin-left: 0px;
  }

  .inputForCheck {
    margin-left: auto;
    margin-right: auto;
  }

  .addQuoteNonRequiredSection {
    margin-left: unset;
    width: 100%;
    padding-top: 40px;
    overflow-y: auto;
  }

  .addQuoteForm {
    text-align: center;
    margin-bottom: 0px;
  }
}