* {
  box-sizing: border-box;
}

#addQuoteForm {
  padding: 10%;
  background-color: #bbb;
  left: 0;
  right: 0;
}

.addQuoteThemes {
  width: 75%;
  max-width: 350px;
}

.addQuoteTextarea {
  height: 150px;
  width: 100%;
  max-width: 500px;
  font-size: 15px;
}

.form-section {
  padding-bottom: 5%;
}

.addTheme {
  padding-top: 3%;
}

.addQuoteIndividualButtons {
  background-color: white;
  border: solid white;
  border-radius: 3px;
  margin-right: 5%;
}

.addQuoteAuthorArea {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.form-input {
  margin-left: auto;
  margin-right: auto;
}

.addQuoteButtons {
  display: block;
  margin-bottom: 100px;
}

.addQuoteMessageSuccess, .addQuoteMessageError {
  text-align: center;
}

.addQuoteSubmitButton {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-color: #5F88E8;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.addQuoteSubmitButton:hover {
  background: #4062BB;
}

.addQuoteResetButton {
  margin-left: auto;
  margin-right: auto;
}

.addQuoteResetButton, .addQuoteSubmitButton {
  display: block;
}

.addQuoteResetButton {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #ff7aa4;
  margin-top: 10px;
  font-size: 12px;
}

.addQuoteResetButton:hover {
  color: red;
}

.addQuoteResetButton:focus {
  outline: 0;
}

.addQuoteTextArea, .addQuoteNonRequiredSection {
  display: inline-block;
}

.inputForCheck {
/*  margin-right: auto !important;
  margin-left: auto !important;*/
}

.addQuoteNonRequiredSection {
  width: 320px;
  margin-left: 50px;
  height: 300px;
}

.addQuoteThemeLabel {
}

.addQuoteForm {
  margin-top: 50px;
  margin-bottom: 50px;
}

.addQuoteNonRequiredSection {
  overflow-y: hidden; 
  overflow-x: hidden;
}

.themeList {
  width: 320px;
  margin-bottom: 50px;
}

.addQuoteFormContainer {
  margin-left: 100px;
  margin-right: 100px;
}

.addQuoteThemeArea {
  width: 320px;
  display: block;
}

.addQuoteTextArea {
  width: 500px;
  height: 300px;
  margin-left: 25px;
  resize: none;
  font-size: 20px;
  border-radius: 2px;
}