* {
  box-sizing: border-box;
}

#addQuoteForm {
  padding: 10%;
  background-color: #bbb;
  left: 0;
  right: 0;
}

.addQuoteThemes {
  width: 75%;
  max-width: 350px;
}

.addQuoteTextarea {
  height: 150px;
  width: 100%;
  max-width: 500px;
  font-size: 15px;
}

.form-section {
  padding-bottom: 5%;
}

.addTheme {
  padding-top: 3%;
}

.addQuoteIndividualButtons {
  background-color: white;
  border: solid white;
  border-radius: 3px;
  margin-right: 5%;
}

.addQuoteAuthorArea {
  margin-bottom: 150px;
}

.form-input {
/*  margin-bottom: 150px;
*/  margin-left: 50px;
}

.addQuoteTextArea, .addQuoteNonRequiredSection {
  display: inline-block;
}

.addQuoteThemeLabel {
  margin-left: 50px;
}

.addQuoteButtons {
  padding-top: 5%;
}

.themeList {
  width: 320px;
  margin-bottom: 150px;
  margin-left: 50px;
}

.addQuoteFormContainer {
  margin-left: 100px;
  margin-right: 100px;
}

.addQuoteThemeArea {
  width: 320px;
}

.addQuoteTextArea {
  width: 500px;
  height: 300px;
  margin-left: 25px;
  resize: none;
  font-size: 20px;
  border-radius: 2px;
}