body, html {
  height: 100%;
}

body {
  background-color: rgb(204, 224, 255);
}

.quotesSection {
  padding-top: 110pt;
  background-color: rgb(204, 224, 255);
  height: 100%;
  display: block;
  text-align: center;
}

.displayQuotesPage {
  background-color: rgb(204, 224, 255);
  height: 100%;
  width: 100%;
  position: absolute;
}

.displayQuotesText {
  word-wrap: break-word;
  text-shadow: .5px .5px 10px darkgrey;
}

.displayQuotesAuthor {
  font-style: italic;
  margin-bottom: 50px;
  word-wrap: break-word; 
  text-shadow: .5px .5px 10px darkgrey;
}

.quotesWrapper {
  margin-left: 80px;
  margin-right: 80px;
}

.themeWord {
  text-shadow: .5px .5px 10px darkgrey;
}

.homePageQuoteThemes {
  display: inline-block;
  margin-top: unset;
  font-size: 22px;
  text-shadow: .5px .5px 10px darkgrey;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 7s linear;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 7s, opacity 7s linear;
}

.noQuotesToDisplayMsg {
  padding-top: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .homePageQuoteThemes {
    font-size: 16px; 
  }
}

@media screen and (max-width: 1025px) {
  .displayQuotesText, .displayQuotesAuthor {
    padding-left: 35px;
    padding-right: 35px;
  }

  .quotesSection {
    padding-top: 70px;
  }
}