body, html {
  height: 100%;
}

body {
  background-color: rgb(204, 224, 255);
}

.quotesSection {
  padding-top: 110pt;
  background-color: rgb(204, 224, 255);
  height: 100%;
  display: block;
  text-align: center;
}

.displayQuotesPage {
  height: 100%;
  width: 100%;
  position: absolute;
}

.displayQuotesAuthor {
  font-style: italic;
  margin-bottom: 50px;
}

.quotesWrapper {
  margin-left: 80px;
  margin-right: 80px;
}

.homePageQuoteThemes {
  display: inline-block;
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 7s linear;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 7s, opacity 7s linear;
}

