* {
  box-sizing: border-box;
}

 .loginFormButton {
  background-color: white;
  border: solid white;
  border-radius: 3px;
}

.loginSection {
  background-color: #bbb;
  padding: 1%;
}

.loginFormHeader {
  text-align: center;
}

.loginForm {
  padding: 3% 5% 5% 5%;
}

.loginFormInputs {
  padding-bottom: 2%;
}