* {
  box-sizing: border-box;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

 .loginFormButton {
  width: 320px;
  height: 55px;
  padding: 15px;
  border: none;
  border-radius: 3px;
  background-color: #5F88E8;
  color: white;
  font-size: 18px;
  transition-duration: 200ms;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 300;
  outline: 0;
}

.loginFormButton:hover {
  background: #4062BB;
}

input {
  background-color: transparent;
  width: 320px;
  border: 2px solid rgb(153, 153, 153);
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 2px 0;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
  outline: none;
}

.spacer {
  margin-right: 75px;
}

.signUpAnchorTag {
  margin-right: 2px;
}

.loginFormHeader {
  text-align: center;
}

.form-error-relative-box {
  margin-right: 100px;
}

.form-error {
  margin-right: 300px;
  position: absolute;
  font-weight: 400;
}

.form-error-incorrect-credentials {
  font-size: 17px;
  font-weight: 300;
  margin: 0px auto 25px auto;
}

input:focus {
  width: 320px;
  border-bottom: 2px solid #5F88E8;
}