* {
  box-sizing: border-box;
}

.navigationBar {
  background-color: #aaa;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2% 0;
}

.navigationLinks {
  display: inline-block;
  padding: 0 2%;
}

.navigationLinkLogout {
  font-size: .75em;
}