* {
  box-sizing: border-box;
}

.navigationBar {
  background-color: #5F88E8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color .5s ease;
  display: block;
}

.navigationLinks {
  overflow: hidden;
  padding: 15px 15px;
  font-size: 20px;
  color: white;
  transition: background-color .5s ease;
  display: inline;
}

.navigationLogo {
  float: left;
  font-family: 'Julius Sans One', sans-serif;
}

.navigationLinkLogout {
  font-size: 20px;
  color: white !important;
  float: right;
  background-color: transparent;
  border: none;
  padding-left: 50px;
}

.navigationLinkLogout:active,  .navigationLinkLogout:focus{
  outline: 0;
}

.navLinksToBeCentered:active {
  text-decoration: none !important;
}

.navLinksToBeCentered:visited {
  color: white;
  text-decoration: none !important ;
}

.navigationLinks:visited {
  color: white;
  text-decoration: none !important;
}

.navLinksToBeCentered {
  text-align: center;
}

.navHomeLink {
  padding-top: 10px;
}

.fa-2x {
  font-size: 1.5em;
}

.navigationLinks a {
  color: white !important;
  text-decoration: none !important;
}

.navigationLinks a:hover {
  text-decoration: none !important;
  color: rgb(204, 224, 255) !important;
}