.home {
  background-color: #5F88E8;
}

.headerSignUp {
  margin-top: 0px;
  padding-top: 30px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  margin-bottom: 20px;
  color: white;
}

