.themeSearch {
  width: 320px;
  margin-right: 75px;
  height: 33px;
  margin-left: 10px;
}

.themeSearchForm {
  margin-bottom: 50px;
}

.submitThemesButton {
  background-color: rgb(204, 224, 255);
  height: 33px;
}
