* {
  box-sizing: border-box;
}

form {
  padding: 10%;
  background-color: #bbb;
  left: 0;
  right: 0;
}

select {
  width: 75%;
  max-width: 350px;
}

input {
  width: 100%;
  max-width: 500px;
}

button {
  background-color: white;
  border: solid white;
  border-radius: 3px;
  margin-right: 5%;
}