.themeSearch {
  width: 320px;
  border-color: rgb(153, 153, 153);
  margin-right: 75px;
  height: 33px;
  margin-left: 10px;
}

.themeSearchForm {
  margin-bottom: 50px;
}

.submitThemesButton {
  background-color: rgb(204, 224, 255);
  height: 33px;
  border-radius: 4px;
}

@media screen and (max-width: 414px) {
  .submitThemesButton {
    font-size: 11px;
  }

  .themeSearch {
    width: 200px;
    margin-right: 0px;
  }
}
