.addQuoteButton {
  display: block;
  border-radius: 3px;
}

.selectBox {
  width: 300px;
  display: block;
}

.breakingImg {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.searchResultsAuthor {
  padding-top: 30px;
  padding-bottom: 20px;
}

.deleteButton {
  float: right;
}

.addThemeAndDeleteBox {
  display: inline-block;
  width: 100%;
}

.searchSubmitButton {
  border-radius: 3px;
}