* {
  box-sizing: border-box;
}

.searchAreaBox {
  margin-left: 75px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .searchAreaBox {
    text-align: unset;
    float: left;
    margin-left: unset;
    background-color: white;
    padding-left: 60px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 414px) {
  .searchAreaBox {
    padding-left: 10px;
    padding-top: 20px;
  }

  input {
    width: 200px !important;
  }
}