.addQuoteDisplayThemes {
  font-size: 20px;
}

.quoteText {
  text-align: center;
}

.quote-expanded {
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.searchedQuotesBox {
  background-color: rgb(204, 224, 255);
}

.addThemeButton {
  display: block;
  border-radius: 3px;
}

.selectBox {
  width: 300px;
  display: block;
}

.noResultsMsg {
  text-align: center;
}

.breakingImg {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.searchResultsAuthor {
  padding-top: 30px;
  padding-bottom: 20px;
  font-style: italic;
}

.deleteButton {
  float: right;
}

.deleteBox {
  padding-bottom: 60px;
}

.addThemeAndDeleteBox {
  display: inline-block;
  width: 100%;
}

.addThemeButton:focus {
  outline: 0;
}

.searchSubmitButton {
  border-radius: 3px;
  margin-left: 5px;
  background-color: white;
}

.individualAddThemeForms:focus {
  outline: none;
  border: 1px solid #5F88E8;
  box-shadow: 0 0 10px #5F88E8;
}

.individualAddThemeForms {
  width: 150px;
  height: 25px;
  border-color: rgb(153, 153, 153);
}

.addThemeLabel {
  margin-bottom: 0px;
  margin-left: 3px;
}

.searchResultsSpinner {
  text-align: center;
}

@media screen and (max-width: 414px) {
  .btn-danger {
    float: left;
    margin-top: 16px;
  }

  .addThemeAndDeleteBox {
    margin-bottom: 30px;
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
  }
}


