.addThemeButton {
  display: block;
  border-radius: 3px;
}

.selectBox {
  width: 300px;
  display: block;
}

.breakingImg {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.searchResultsAuthor {
  padding-top: 30px;
  padding-bottom: 20px;
}

.deleteButton {
  float: right;
}

.deleteBox {
  padding-bottom: 60px
}

.addThemeAndDeleteBox {
  display: inline-block;
  width: 100%;
}

.addThemeButton:focus {
  outline: 0;
}

.searchSubmitButton {
  border-radius: 3px;
  margin-left: 5px;
}

.individualAddThemeForms {
  width: 150px;
  height: 25px;
}

.addThemeLabel {
  margin-bottom: 0px;
  margin-left: 3px;
}